@import '../../scss/variable';
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    .card{
        width: 50%;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        
        img{
            width: 50%;
            border-radius: 80px;
        }
    }  
    h1{
        background: $lightGreen;
        color: $orange;
    }
    h2{
        color: $darkGreen;
    }
    p{
        color: $green;
    }
}

